* {
    border: none;
    border-radius: 0;
    font-family: MesloLGS NF;
    font-size: 13px;
    min-height: 0;
}

@import "gruvbox.css";

window#waybar {
    background: @ayu_fg;
    border-bottom: 3px solid @ayu_line;
    color: @white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: @ayu_line;
    border-bottom: 3px solid @ayu_line;
}

#mode, #clock, #battery {
    padding: 0 10px;
    margin: 0 5px;
}

#mode {
    background: @red;
    border-bottom: 3px solid @white_b;
}

#clock {
    background-color: @ayu_line;
    color: @white;
}

#battery {
}

#battery.charging {
    border-bottom: 3px solid @green;
}

@keyframes blink {
    to {
        background-color: @white_b;
        color: @background;
    }
}

#idle_inhibitor, #pulseaudio, #custom-openvpn, #network, #cpu, #memory, #temperature, #backlight, #battery, #clock, #tray {
     padding: 0 4px;
     margin: 0 1px;
}

#battery.warning:not(.charging) {
    background: @red;
    color: @white_b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
